.tag[href="#important"] {
  color : red;
}

.tag,
.cm-hashtag{
  border: solid #ffffff89 1px;
  background-color: #00000031;
  padding: 0 10px;
  border-radius: 5px;
}

/* HEADINGS */
h1,
.cm-header-1, 
.markdown-rendered h1 {
  color: hsl(0, 0%, 100%);
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 2em;
  filter: drop-shadow(black 2px 2px 5px);
}
h2,
.cm-header-2,
.markdown-rendered h2 {
  color: hsla(0, 0%, 100%, 0.766);
  font-size: 20px;
}

h3,
.cm-header-3,
.markdown-preview-section h3 {
  color: hsl(93, 35%, 51%);
  margin-bottom: 0;
}


/* Lists */
ul{
  margin-top: 0;
  margin-bottom: 1.3em;
}
.markdown-rendered ul li{
  margin-bottom: .5em;
}

li::marker,
.cm-s-obsidian span.cm-formatting-list {
  color: hsla(0, 0%, 100%, 0.572);
}

code,
.cm-s-obsidian div.HyperMD-codeblock-bg,
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight){
  background-color: var(--pre-code);
  padding: 0 5px;
  border-radius: 3px;
}

/* embededs */
.pdf-embed{
  min-height: 60em;
}
