:root{
  --text-code: rgb(185, 175, 156);
  --c-tag: rgb(185, 158, 109);
  --text-accent: #827048;
  --c-codeblock: hsl(186, 100%, 8%);
  --c-code: orange;
  --c-gutter-txt: rgb(103, 94, 76);
  --c-nav-cont: #1f2125;
}

/* Editor */
.nav-files-container{
  background-color: var(--c-nav-cont);
}

/* Editor END * * * * * * */

a.tag,
.cm-hashtag{
  border: solid 1px var(--c-tag);
  color: var(--c-tag) !important;
  /* background-color: var(--c-tag); */
  background-color: #00000031;
  padding: 0 5px;
  border-radius: 5px;
  transition: .3s;
}
.tag:hover,
.cm-hashtag:hover{
  color: black !important;
  background-color: var(--c-tag);
}

/* HEADINGS */
h1,
.cm-header-1, 
.markdown-rendered h1 {
  color: hsl(56, 44%, 93%);
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 3px;
  margin-top: 2em;
  filter: drop-shadow(rgb(69, 69, 53) 2px 2px 5px);
}
h2,
.HyperMD-header-2,
.markdown-rendered h2 {
  color: hsla(0, 0%, 100%, 0.766);
  /* font-size: 20px; */
  margin-top: 1.5em !important;
}

h3,
.cm-header-3,
.markdown-preview-section h3 {
  color: var(--text-accent);
  margin-bottom: 0;
}

/* CODE BLOCKS */
code,
.markdown-rendered code,
.cm-s-obsidian div.HyperMD-codeblock-bg,
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight){
  background-color: var(--c-codeblock) !important;
  padding: 0 8px;
  font-size: 85% !important;
  color: var(--c-code);
}
pre{
  overflow-x: auto;
}
/* code span {
  white-space: nowrap;
} */
/* p code{
  padding: 0 8px !important;
} */
/* .markdown-rendered code,
.cm-hmd-codeblock,
.cm-s-obsidian span.cm-inline-code{
  color: var(--text-code);
  padding: 0;  
} */

/* .markdown-preview-view pre:has(code){
  background: red !important;
} */

/* .markdown-preview-view pre,
.language-fallback{
  background-color: var(--c-codeblock) !important;
} */

/* .markdown-rendered code {
  color: rgb(232, 227, 210);
} */

p{
  margin-bottom: 2px;
}
/* LISTS */
ul{
  margin-top: 0;
  /* list-style-type: none; */
  /* padding-inline-start: 20px; */
}
/* .HyperMD-list-line{
  padding-left: 30px !important;
} */
/* ul li::before{
  content: '\2022';
  display: inline-block;
  width: 1em;
  color: var(--text-accent);
  margin-left: -1em;
} */
.cm-formatting-list span,
li::marker{
  color: var(--text-accent);
}

/* TABLE */
.markdown-rendered th{
  color: var(--text-accent) ;
}

/* Gutter */
.cm-gutterElement{
  color: var(--c-gutter-txt)
}