// @import "./theme";

:root{

  --c-nav: #4d6454;
  --c-dark: #ffffff;
  --c-light: #000000;
  --c-code: #282c34;
  --c-code-txt: #cccbbe;
  --c-bg: #4d6454;
  --c-head: #332f19;
  --c-strike: #808080;
  /* --c-strike: #000ced; */
  
  --width-cont: 1000px;

  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



h2, h3 {
  scroll-margin-top: 16px;
}

/* Safari-only */
@supports (-webkit-hyphens:none) {
  h2, h3 {
    padding-top: 16px;
    margin-top: -16px;
  }
}

a{
  color: var(--c-3);
  transition: .3s;
  text-decoration: dotted;
}
a:hover{
  opacity: .1;
}

/* pre:has(code){
  background-color: var(--c-code);
  border-radius: 5px;
  padding: 1em;
} */

blockquote{
  border: 1px solid var(--c-1);
  border-left: 5px solid var(--c-1);
  padding: 0 1em;
}
/* blockquote p:first-child{
  background-color: var(--c-1);
  padding: 0;
  margin: 0;
} */


// * move this to other script later



